@{ 
    var reg_link = "nav-link";
    var log_link = "nav-link";

    var home_link = HttpContext.Current.User.Identity.IsAuthenticated ? "/General/Index" : "/Home";

}
<style>
    .dropdown-item:active {
        background: #dc3545;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="@home_link">Online Gamers Platform</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            @if (HttpContext.Current.User.Identity.IsAuthenticated == false)
            {
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="@reg_link" href="/Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="@log_link" href="/Login">Log In</a>
                    </li>
                </ul>
            }
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav ml-1">
                    <li class="nav-item">
                        <a class="@reg_link" href="/General/Search">Find Your Playmate!</a>
                    </li>
                </ul>
                <div class="dropdown ml-auto">
                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @HttpContext.Current.User.Identity.Name
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/General/UserProfile">Profile</a>
                        <a class="dropdown-item" href="/Logout">Log out</a>
                    </div>
                </div>
            }
        </div>
    </div>
</nav>
